.repo-list{
    width:60vw;
    transform: scale(1);
    transition: 1s ease;
}
.repo-list:hover{
    transform: scale(1.1);
}

.span-tag{
    width: 2rem;
    height: 2rem;
    background-color: lightblue;
    margin-left: 0.5rem;
    text-align: center;
    transform: scale(1);
    transition: 1s ease;
}
.span-tag:hover{
    transform: scale(1.3);
}
